
<div class="row">
    <div class="col">
        <form  for="customerSearc"  (ngSubmit) ="handleSubmit()" >
            <div class="mb-3 mt-3">
              <label for="search" class="form-label">Search:</label>
              <input type="search" class="form-control" id="search" placeholder="Enter search" name="search">
              <button class="btn btn-primary">Submit</button>
            </div>
           
             
            
    
          </form>
    </div>
</div>
<ng-container *ngIf="customers | async as listCustomer; else failureOrloading">
    <ul>
        <li *ngFor="let customer of customers|async">
          <span *ngIf="customer.name!=null">
            {{customer.name}}
          </span>  
        </li>
    </ul>
</ng-container>
<ng-template #failureOrloading>
    <ng-container *ngIf=" errMessage; else loading  ">
        <div class="alert alert-danger">{{errMessage}}</div>
    </ng-container>
    <ng-template #loading>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
    </ng-template>
</ng-template>


